<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="../css/login.css">
    
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="../icons/logo.svg" alt="Логотип">
        </div>
        <h2>Вход</h2>
        <p class="welcome-text">Добро пожаловать!</p>

        <form id="loginForm">
            <label for="email">Почта</label>
            <input type="email" id="email" placeholder="Введите вашу почту" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" placeholder="Введите пароль" required>

            <a href="#" class="forgot-password">Забыли пароль?</a>

            <button type="submit">Войти в аккаунт</button>
        </form>

        <p class="register-text">Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></p>
    </div>

    <script src="../js/login.js"></script>
</body>
</html>
