<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="../css/user_history.css">
</head>
<body>
  <header>
    <div class="logo">🔳</div>
    <button class="logout-btn" id="logoutBtn">Выйти</button>
  </header>
  
  <main>
    <h1>Личный кабинет</h1>
    
    <nav>
      <button class="tab active" onclick="window.location.href='/profile/user-info'">Информация об аккаунте</button>
      <button class="tab">Заказы</button>
    </nav>
    
    <h1>История заказов</h1>
</body>
</html>
